<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Testimonial</title>
  </head>
  <script>
    async function createTestimonial(event) {
      event.preventDefault();
      const url = `${window.location.origin}/api/v1/testimonial/create`;

      try {
        const response = await fetch(url, {
          method: 'POST',
          mode: 'same-origin',
          cache: 'no-cache',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name: event.target.elements.name.value,
            text: event.target.elements.message.value,
            profileImageUrl: event.target.elements.profileImageUrl.value,
            createdAt: new Date().toISOString(),
          }),
        });

        if (response.status === 200)
          location.replace(
            `${window.location.origin}/view/list?token=${localStorage.getItem(
              'auth-token'
            )}`
          );
      } catch (error) {
        console.log(error.message);
      }
    }
  </script>
  <body>
    <h1>Create new testimonial</h1>
    <form onsubmit="createTestimonial(event)" method="post">
      <label>Name</label><br />
      <input type="text" name="name" /><br />
      <label>Profile Image Url</label><br />
      <input type="text" name="profileImageUrl" /><br />
      <label>Testimonial message</label><br />
      <input type="text" name="message" /><br />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
